

<h2>DATOS DE LA EMPRESA</h2>

<%= form_for @user , url: {action: "update_user"}, method: :post do |f| %>

  <%= f.label :email, 'Email:' %><br/>
  <%= f.email_field :email %> <%= @user.errors[:email].first %><br />
  <%= f.label(:company, 'Empresa:') %><br />
  <%= f.text_field(:company) %> <%= @user.errors[:company].first %><br />
  <%= f.label(:cif, 'CIF:') %><br />
  <%= f.text_field(:cif) %><%= @user.errors[:cif].first %><br />
  <%= f.label(:image, "Logo empresa:") %><br />
  <%= f.file_field :image %><br />
  <%= image_tag @user.image.url, size: "100x100" %><br /> <br />  
	
  <%= f.submit 'Modificar' %><br /><br /> 
<% end %>

<a href="/admin/dashboard">Volver</a>


