<h2> Modificar anuncio</h2>
	
	<fieldset>
  <%= form_for @job_opening , url: {action: "update_job_opening"} do |f| %>
    <%= f.hidden_field :id%>
    <%= f.label :title, 'Titulo de la oferta:' %><br/>
    <%= f.text_field :title %><br />
    <%= f.label :description, 'Descripción:' %><br/>
    <%= f.text_area :description, rows: 4, cols: 50 %><br />

    <%= f.label :requirement, 'Requisitos:' %><br/>
    <%= f.text_area :requirement, rows: 4, cols: 50 %><br/>
    <%= f.label :salary_min, 'Salario Mínimo:' %><br/>
    <%= f.number_field :salary_min, step: 1000, min: 0 %><br/>
    <%= f.label :salary_max, 'Salario Máximo:' %><br/>
    <%= f.number_field :salary_max, step: 1000, min: 0 %><br/>

    <%= f.label :profession, 'Profesión:' %><br/>
    <%= f.select :profession, grouped_options_for_select(@grouped_options,@job_opening.profession.id) %><br/><br/>
    <%= f.submit 'Modificar' %>
  <%end%>		
	</fieldset>	
	
