<%= form_tag({controller: "cards", action: "search"}, method: "get") do%>
    <%= search_field_tag(:search_value, '', placeholder: 'Buscar...') %> 
	<%= select_tag(:search_category, options_for_select(@search_options))%>
	<%= submit_tag ('Buscar')%>
<%end%>
<% 
for job_opening in @job_openings
%>
<div style="border-style: solid;margin: 5px">
	<table>
		<tr>
			<td><h2><%=job_opening.title%></h2></td>
		</tr>
		<tr>
			<td><%=job_opening.created_at%></td>
		</tr>
		<tr>
			<td><%=job_opening.description.truncate(150)%></td>
		</tr>	
		
		<tr>
			<td><a href="/cards/show?id=<%=job_opening.id%>">Detalle</a></td>
		</tr>
	
	</table>
</div>

<%end%>
