<%if user_signed_in? %>
	Bienvenido <%=current_user.email%> 
	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	<a href="cards/dashboard">Panel de administracion</a>
<%else%>
	<div style="text-align: right"><%=render file:"app/views/users/sessions/new.html.erb"%></div>
<%end%>

<form action="/cards/search">
	<input type="text" name="search_value" placeholder="Buscar..." />
	<select name="search_category">
		<%=options_for_select(@search_options)%>
	</select>
	<input type="submit" value="Buscar" />
</form>

<% 
for jobopening in @jobopenings
%>
<div style="border-style: solid;margin: 5px">
	<table>
		<tr>
			<td><h2><%=jobopening.tittle%></h2></td>
		</tr>
		<tr>
			<td><%=jobopening.description%></td>
		</tr>	
		
		<tr>
			<td><a href="/cards/show?id=<%=jobopening.id%>">Detalle</a></td>
		</tr>
	
	</table>
</div>

<%end%>
