
<p>DETALLE DE LA OFERTA</p>

<div style="border-style: solid;margin: 5px">
	<table>
		<tr>
			<td>TITULO DE LA OFERTA:<%=@job_opening.title%></td>
		</tr>
		<tr>
			<td>CATEGORIA:<%=@job_opening.profession.category.title%></td>
		</tr>
		<tr>
			<td>PROFESION:<%=@job_opening.profession.title%></td>
		</tr>
		<tr>
			<td>DESCRIPCION:<%=@job_opening.description%></td>
		</tr>	
		<tr>
			<td>REQUISITOS:<%=@job_opening.requirement%></td>
		</tr>
		<tr>
			<td>FRANJA SALARIAL:<%=@job_opening.salary_min%>-<%=@job_opening.salary_max%></td>
		</tr>
		<tr>
			<td>TIPO DE CONTRATO:<%=@job_opening.contract%></td>
		</tr>
	</table>

</div>
<a href="/cards/index">Volver</a><br />


<%if user_signed_in? && current_user.id==@job_opening.user_id %> 
	<a href="/cards/edit?id=<%=@job_opening.id%>">Editar</a>
<%end%>
	
