<%= form_tag({controller: "public", action: "search"}, method: "get") do%>
  <%= search_field_tag(:search_text, '', placeholder: 'Buscar...') %> 
  <%= select_tag(:search_category, options_for_select(@search_options))%>
  <%= submit_tag ('Buscar')%>
<%end%>
<% 
  @job_openings.each do |job_opening|
%>
<div style="border-style: solid;margin: 5px">
	<table>
		<tr>
			<td><h2><%=job_opening.title%></h2></td>
		</tr>
		<tr>
			<td><%=job_opening.created_at.strftime("%d-%m-%Y")%></td>
		</tr>
		<tr>
			<td><%=job_opening.description.truncate(150)%></td>
		</tr>	
		
		<tr>
			<td><a href="/public/<%=job_opening.id%>">Detalle</a></td>
		</tr>
	
	</table>
</div>
<%end%>
<%if JobOpening.count > @jobs_limit && !params[:commit]%>
	<%=link_to 'Mas...',"/public/more?limit=" + @jobs_limit.to_s %>
<%end%>

