<%= form_tag({controller: "public", action: "search"}, method: "get", class:"form-group", style:"text-align:center") do%>
  <div class="col-xs-3">
  	<%= search_field_tag(:search_text, '', placeholder: 'Buscar...',class:"form-control col-sm") %>
  </div>
  <div class="col-xs-3"> 
  	<%= select_tag(:search_category, options_for_select(@search_options), class: "form-control col-sm")%>
  </div>
  <div >
  	<%= submit_tag ('Buscar'), class:"btn btn-default"%>
  </div>
<%end%>
<% 
  @job_openings.each do |job_opening|
%>
<div class="panel-custom col-md-12">
	<div class="col-md-2" style="margin-top: 10px; margin-bottom: 10px">
		<%= image_tag job_opening.user.image.url, size: "100x100" %>
	</div>
	<div class="col-md-10">
	<table>
		<tr>
			<td><h2 style="margin-top: 5px"><%=job_opening.title%></h2></td>
		</tr>
		<tr>
			<td><%=job_opening.created_at.strftime("%d-%m-%Y")%></td>
		</tr>
		<tr>
			<td><%=job_opening.description.truncate(150)%></td>
		</tr>	
		
		<tr>
			<td><a href="/public/<%=job_opening.id%>">Detalle</a></td>
		</tr>
	
	</table>
	</div>
</div>
<%end%>
<div class="col-md-12 center-block">
	<%if JobOpening.count > @jobs_limit && !params[:commit]%>
		<h3><%=link_to 'Mas...',"#", remote: true, id:'more_link', class:"center-block", style:"text-align:center" %></h3>
	<%end%>
</div>

<script>
$(document).ready(function(){
    $("#more_link").click(function(){
        $("body").load("/public/more?limit=" + <%=@jobs_limit%>);
    });
});
</script>
</div>
