
<p>DETALLE DE LA OFERTA</p>

<div style="border-style: solid;margin: 5px">
	<table>
		<%= image_tag @job_opening.user.image.url, size: "100x100" %><br /> <br />
		
		<%if @job_opening.image_job_file_name%>
			<%= image_tag @job_opening.image_job.url, size: "320x200" %><br /> <br />
		<%else%>
			<%= image_tag @job_opening.profession.image_prof.url, size: "320x200" %><br /> <br />
		<%end%>
		<tr>
			<td>TITULO DE LA OFERTA: <%=@job_opening.title%></td>
		</tr>
		<tr>
			<td>FECHA: <%=@job_opening.created_at.strftime("%d-%m-%Y")%></td>
		</tr>
		<tr>
			<td>CATEGORIA: <%=@job_opening.profession.category.title%></td>
		</tr>
		<tr>
			<td>PROFESION: <%=@job_opening.profession.title%></td>
		</tr>
		<tr>
			<td>DESCRIPCION: <%=@job_opening.description%></td>
		</tr>	
		<tr>
			<td>REQUISITOS: <%=@job_opening.requirement%></td>
		</tr>
		<tr>
			<td>FRANJA SALARIAL: <%=@job_opening.salary_min%>-<%=@job_opening.salary_max%></td>
		</tr>
		<tr>
			<td>TIPO DE CONTRATO: <%=@job_opening.contract%></td>
		</tr>
		<tr>
			<td>PROVINCIA: <%=@job_opening.province%></td>
		</tr>
	</table>

</div>
<a href="/public/">Volver</a><br />


<%if user_signed_in? && current_user.id==@job_opening.user_id %> 
	<a href="/admin/<%=@job_opening.id%>/edit">Editar</a>
<%end%>
	
