<h2 style = "text-align:center">DETALLE DE LA OFERTA</h2>

<div class="panel-custom">
	<div class="col-md-2" style="margin-top: 10px; margin-bottom: 10px">
		<%= image_tag @job_opening.user.image.url, size: "100x100" %><br /> <br />
	</div>
	<div class="col-md-10">
	<table style="margin-top: 10px;margin-bottom: 5px">

		<tr>
			<td><strong>TITULO DE LA OFERTA:</strong> <%=@job_opening.title%></td>
		</tr>
		<tr>
			<td><strong>FECHA:</strong> <%=@job_opening.created_at.strftime("%d-%m-%Y")%></td>
		</tr>
		<tr>
			<td><strong>CATEGORIA:</strong> <%=@job_opening.profession.category.title%></td>
		</tr>
		<tr>
			<td><strong>PROFESION:</strong> <%=@job_opening.profession.title%></td>
		</tr>
		<tr>
			<td><strong>DESCRIPCION:</strong> <%=@job_opening.description%></td>
		</tr>	
		<tr>
			<td><strong>REQUISITOS:</strong> <%=@job_opening.requirement%></td>
		</tr>
		<tr>
			<td><strong>FRANJA SALARIAL:</strong> <%=@job_opening.salary_min%>-<%=@job_opening.salary_max%></td>
		</tr>
		<tr>
			<td><strong>TIPO DE CONTRATO:</strong> <%=@job_opening.contract%></td>
		</tr>
		<tr>
			<td><strong>PROVINCIA:</strong> <%=@job_opening.province%></td>
		</tr>
	</table>
	</div>
	<div class="center-block">
		<%if @job_opening.image_job_file_name%>
			<%= image_tag @job_opening.image_job.url, size: "320x200", class: "center-block", style: "text-align:center" %><br /> <br />
		<%else%>
			<%= image_tag @job_opening.profession.image_prof.url, size: "320x200", class: "center-block", style: "text-align:center" %><br /> <br />
		<%end%>
	</div>

</div>
<div class="col-md-12 center-block">
<h3><a href="/public/", class = "center-block", style = "text-align:center">Volver</a></h3><br />

	<%if user_signed_in? && current_user.id==@job_opening.user_id %> 
		<h3><a href="/admin/<%=@job_opening.id%>/edit" , class = "center-block", style = "text-align:center">Editar</a></h3>
	<%end%>
</div>	
