<!DOCTYPE html>
<html>
<head>
  <title>JobOpeningCards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in?%> 
  <%=render 'templates/logged_header'%> 
<%else%> 
  <%=render 'templates/public_header'%>
<%end%>


<%= yield %>

<%=render 'templates/footer'%>

<%if notice%>
  <script>
    $(document).ready(alert_notice('<%= notice %>'))
  </script>
<%end%>
<%if alert%>
  <script>
    $(document).ready(alert_error('<%= alert %>'))
  </script>
<%end%>

</body>
</html>
