<!DOCTYPE html>
<html>
<head>
  <title>JobOpeningCards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%if notice%>
  <script>
	$(document).ready(alert_notice('<%= notice %>'))
  </script>
<%end%>
<%if alert%>
  <script>
	$(document).ready(alert_error('<%= alert %>'))
  </script>
<%end%>

</body>
</html>
